body {
	background-color: rgb(128, 128, 128);
	font-family: "Courier New", Arial;
	font-weight: bold;
	cursor: url("https://i.imgur.com/KxpiTfF.png"), pointer;
	height: 97vh;
	width: 100%;}
table {
	margin-left: auto;
	margin-right: auto;}
	
td:hover {
	background-color: rgb(100, 100, 100);}
ul {
	list-style-image: url("https://i.imgur.com/KxpiTfF.png");
	text-align: center;
	margin-left:10px;
	margin-right:10px;}
td {
	border-image: url("https://i.imgur.com/KxpiTfF.png") 12 stretch;
	border-width: 25px;
	border-style: solid;
	width: 120px;
	height: 120px;
	text-align: center;
	background-color: rgb(128, 128, 128);}
.field {background-color: rgb(128, 128, 128);}
.field:hover {background-color: rgb(255, 102, 102);}
.field.colored {background-image: url(https://i.gyazo.com/0b013010df696fad9ed25894f66897c4.png);}
/**#left_column {
	width: 24%;}
#right_column {
	width: 75%;}
**/